@import '../../../../styles/mixins.scss';

.imageWrapper {
    position: relative; 

    .image {
        border-radius: 12px;
        
        @include onDesktop{
            border-radius: 50%;
        }
        //--- Desktop ---
        
    }
}