@import '../../../../styles/mixins.scss';

.imageWrapper {
    position: relative; 
    width: 80px;
    height: 80px;

    @include onDesktop{
        width: 100px;
        height: 100px;
    }



    .image {
        border-radius: 12px;
        
        @include onDesktop{
            border-radius: 50%;
        }

    }
}