@import './../../../../styles/variables.scss';
@import './../../../../styles/mixins.scss';

.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: none;
  border: 0;
  color: $buttonPrimary;
  font-size: 16px;
  cursor: pointer;

  @include onDesktop {
    padding: 0;
    justify-content: flex-start;
    align-items: center;
  }

  .buttonIcon {
    display: block;
    width: 15px;
    height: 15px;
    background: url('../../../../public/icons/ArrowButtonWhite.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include onDesktop {
      width: 12px;
      height: 12px;
      margin-left: 5px;
      background: url('../../../../public/icons/ArrowButton.svg');
    }
  }

  .buttonLabel {
    display: none;
    
    @include onDesktop {
      display: block;
    }
  }
}