@import '../../../styles/mixins.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;

  @include onDesktop{
    padding: 30px 0;
  }

  .logoWrapper {
    display: inline-block;
    width: 98px;

    @include onDesktop{
      width: 140px;
    }
  
    .logo {
      width: 100%;
      height: auto;
    }
  }
}
