@import './variables.scss';
@import './mixins.scss';
@import './reset.scss';

* {
  box-sizing: border-box;
}


body {
  background: linear-gradient(180deg, $primaryDark 0%, $primaryMedium 70.63%, $primaryLight 100%);
}

.content-container {
  padding: 0 15px;

  @include onDesktop {
    padding: 0 160px;
  }

  font-family: 'Open Sans', sans-serif;
}
