$primaryLight: #3A237A;
$primaryMedium: #202261;
$primaryDark: #141333;

$cardLight: #24244F;
$tagLight: #7270C0;

$textPrimary: #FAFAFA;
$textSecondary: #CDCDCD;

$buttonPrimary: #8E8CF0;

$statusGreen: #4DAB75;
$statusBusy: #3C8FA9;
$statusOffline: #828282;
